USE master
GO
CREATE DATABASE [DBWeSplit]
GO
USE [DBWeSplit]
GO
/****** Object:  FullTextCatalog [chuyendi_cltg]    Script Date: 19/12/2020 22:00:02 ******/
CREATE FULLTEXT CATALOG [chuyendi_cltg] WITH ACCENT_SENSITIVITY = OFF
AS DEFAULT
GO
/****** Object:  FullTextCatalog [thanhvien_cltg]    Script Date: 19/12/2020 22:00:02 ******/
CREATE FULLTEXT CATALOG [thanhvien_cltg] WITH ACCENT_SENSITIVITY = OFF
GO
/****** Object:  Table [dbo].[ChuyenDi]    Script Date: 19/12/2020 22:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenDi](
	[IDChuyenDi] [int] IDENTITY(1,1) NOT NULL,
	[TenChuyenDi] [nvarchar](50) NOT NULL,
	[NgayBatDau] [datetime] NOT NULL,
	[NgayKetThuc] [datetime] NOT NULL,
	[GioiThieu] [ntext] NULL,
	[LoTrinh] [ntext] NULL,
	[HinhAnh] [nvarchar](max) NULL,
 CONSTRAINT [PK_ChuyenDi] PRIMARY KEY CLUSTERED 
(
	[IDChuyenDi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhChuyenDi]    Script Date: 19/12/2020 22:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhChuyenDi](
	[IDHinhAnh] [int] IDENTITY(1,1) NOT NULL,
	[IDChuyenDi] [int] NOT NULL,
	[HinhAnh] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_HinhAnhChuyenDi] PRIMARY KEY CLUSTERED 
(
	[IDHinhAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoanChiTieu]    Script Date: 19/12/2020 22:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoanChiTieu](
	[IDKhoanChi] [int] IDENTITY(1,1) NOT NULL,
	[IDChuyenDi] [int] NOT NULL,
	[TenKhoanChi] [nvarchar](50) NOT NULL,
	[SoTien] [money] NOT NULL,
 CONSTRAINT [PK_KhoanChiTieu] PRIMARY KEY CLUSTERED 
(
	[IDKhoanChi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhoanThu]    Script Date: 19/12/2020 22:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhoanThu](
	[IDChuyenDi] [int] NOT NULL,
	[IDNguoiDongTien] [int] NOT NULL,
	[SoTien] [money] NOT NULL,
 CONSTRAINT [PK_KhoanThu] PRIMARY KEY CLUSTERED 
(
	[IDChuyenDi] ASC,
	[IDNguoiDongTien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThamGiaChuyenDi]    Script Date: 19/12/2020 22:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThamGiaChuyenDi](
	[IDChuyenDi] [int] NOT NULL,
	[IDThanhVien] [int] NOT NULL,
	[VaiTro] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ThamGiaChuyenDi] PRIMARY KEY CLUSTERED 
(
	[IDChuyenDi] ASC,
	[IDThanhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhVien]    Script Date: 19/12/2020 22:00:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhVien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenThanhVien] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ThanhVien] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChuyenDi] ON 

INSERT [dbo].[ChuyenDi] ([IDChuyenDi], [TenChuyenDi], [NgayBatDau], [NgayKetThuc], [GioiThieu], [LoTrinh], [HinhAnh]) VALUES (3, N'Khám phá Đà Nẵng', CAST(N'2020-12-24T00:00:00.000' AS DateTime), CAST(N'2020-12-27T00:00:00.000' AS DateTime), N'Đà Nẵng là một thành phố trực thuộc trung ương, nằm trong vùng Duyên hải Nam Trung Bộ Việt Nam, là thành phố trung tâm và lớn nhất khu vực miền Trung - Tây Nguyên.', NULL, N'Images/DaNang.jpg')
SET IDENTITY_INSERT [dbo].[ChuyenDi] OFF
GO
SET IDENTITY_INSERT [dbo].[HinhAnhChuyenDi] ON 

INSERT [dbo].[HinhAnhChuyenDi] ([IDHinhAnh], [IDChuyenDi], [HinhAnh]) VALUES (1, 1, N'Images/VungTau01.jpg')
INSERT [dbo].[HinhAnhChuyenDi] ([IDHinhAnh], [IDChuyenDi], [HinhAnh]) VALUES (2, 1, N'Images/VungTau02.jpg')
INSERT [dbo].[HinhAnhChuyenDi] ([IDHinhAnh], [IDChuyenDi], [HinhAnh]) VALUES (3, 1, N'Images/VungTau03.jpg')
SET IDENTITY_INSERT [dbo].[HinhAnhChuyenDi] OFF
GO
SET IDENTITY_INSERT [dbo].[KhoanChiTieu] ON 

INSERT [dbo].[KhoanChiTieu] ([IDKhoanChi], [IDChuyenDi], [TenKhoanChi], [SoTien]) VALUES (1, 1, N'Mua đồ nướng', 300000.0000)
INSERT [dbo].[KhoanChiTieu] ([IDKhoanChi], [IDChuyenDi], [TenKhoanChi], [SoTien]) VALUES (2, 1, N'Thuê Khách Sạn', 500000.0000)
INSERT [dbo].[KhoanChiTieu] ([IDKhoanChi], [IDChuyenDi], [TenKhoanChi], [SoTien]) VALUES (3, 1, N'Ăn nhà hàng', 400000.0000)
SET IDENTITY_INSERT [dbo].[KhoanChiTieu] OFF
GO
INSERT [dbo].[KhoanThu] ([IDChuyenDi], [IDNguoiDongTien], [SoTien]) VALUES (1, 1, 300000.0000)
INSERT [dbo].[KhoanThu] ([IDChuyenDi], [IDNguoiDongTien], [SoTien]) VALUES (1, 2, 400000.0000)
INSERT [dbo].[KhoanThu] ([IDChuyenDi], [IDNguoiDongTien], [SoTien]) VALUES (1, 3, 300000.0000)
GO
INSERT [dbo].[ThamGiaChuyenDi] ([IDChuyenDi], [IDThanhVien], [VaiTro]) VALUES (1, 1, N'Leader')
INSERT [dbo].[ThamGiaChuyenDi] ([IDChuyenDi], [IDThanhVien], [VaiTro]) VALUES (1, 2, N'Member')
INSERT [dbo].[ThamGiaChuyenDi] ([IDChuyenDi], [IDThanhVien], [VaiTro]) VALUES (1, 3, N'Member')
GO
SET IDENTITY_INSERT [dbo].[ThanhVien] ON 

INSERT [dbo].[ThanhVien] ([ID], [TenThanhVien]) VALUES (1, N'Phạm Minh Vương')
INSERT [dbo].[ThanhVien] ([ID], [TenThanhVien]) VALUES (2, N'Phạm Văn Thật')
INSERT [dbo].[ThanhVien] ([ID], [TenThanhVien]) VALUES (3, N'Lưu Trường Vũ')
SET IDENTITY_INSERT [dbo].[ThanhVien] OFF
GO
ALTER TABLE [dbo].[HinhAnhChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK_HinhAnhChuyenDi_ChuyenDi] FOREIGN KEY([IDChuyenDi])
REFERENCES [dbo].[ChuyenDi] ([IDChuyenDi])
GO
ALTER TABLE [dbo].[HinhAnhChuyenDi] CHECK CONSTRAINT [FK_HinhAnhChuyenDi_ChuyenDi]
GO
ALTER TABLE [dbo].[KhoanChiTieu]  WITH CHECK ADD  CONSTRAINT [FK_KhoanChiTieu_ChuyenDi] FOREIGN KEY([IDChuyenDi])
REFERENCES [dbo].[ChuyenDi] ([IDChuyenDi])
GO
ALTER TABLE [dbo].[KhoanChiTieu] CHECK CONSTRAINT [FK_KhoanChiTieu_ChuyenDi]
GO
ALTER TABLE [dbo].[KhoanThu]  WITH CHECK ADD  CONSTRAINT [FK_KhoanThu_ChuyenDi] FOREIGN KEY([IDChuyenDi])
REFERENCES [dbo].[ChuyenDi] ([IDChuyenDi])
GO
ALTER TABLE [dbo].[KhoanThu] CHECK CONSTRAINT [FK_KhoanThu_ChuyenDi]
GO
ALTER TABLE [dbo].[KhoanThu]  WITH CHECK ADD  CONSTRAINT [FK_KhoanThu_ThanhVien] FOREIGN KEY([IDNguoiDongTien])
REFERENCES [dbo].[ThanhVien] ([ID])
GO
ALTER TABLE [dbo].[KhoanThu] CHECK CONSTRAINT [FK_KhoanThu_ThanhVien]
GO
ALTER TABLE [dbo].[ThamGiaChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK_ThamGiaChuyenDi_ChuyenDi] FOREIGN KEY([IDChuyenDi])
REFERENCES [dbo].[ChuyenDi] ([IDChuyenDi])
GO
ALTER TABLE [dbo].[ThamGiaChuyenDi] CHECK CONSTRAINT [FK_ThamGiaChuyenDi_ChuyenDi]
GO
ALTER TABLE [dbo].[ThamGiaChuyenDi]  WITH CHECK ADD  CONSTRAINT [FK_ThamGiaChuyenDi_ThanhVien] FOREIGN KEY([IDThanhVien])
REFERENCES [dbo].[ThanhVien] ([ID])
GO
ALTER TABLE [dbo].[ThamGiaChuyenDi] CHECK CONSTRAINT [FK_ThamGiaChuyenDi_ThanhVien]
GO
